<p-toast></p-toast>
<form [formGroup]="formularioEndereco">
  <div class="grid">
    <div class="col-6">
      <label for="cep">CEP:</label>
      <input
        id="cep"
        class="cep"
        type="text"
        formControlName="cep"
        placeholder="CEP"
        minlength="8"
        maxlength="8"
        (blur)="buscarEnderecoPorCep()"
        >
    </div>
    <div class="col-6">
      <label for="bairro">Bairro:</label>
      <input
        id="bairro"
        class="bairro"
        type="text"
        formControlName="bairro"
        placeholder="Bairro"
        [attr.disabled]="carregando ? true : null">
    </div>
    <div class="col-6">
      <label for="uf">UF:</label>
      <input
        id="uf"
        class="uf"
        type="text"
        formControlName="uf"
        placeholder="UF"
        minlength="2"
        maxlength="2"
        [attr.disabled]="carregando ? true : null">
    </div>
    <div class="col-6">
      <label for="cidade">Cidade:</label>
      <input
        id="cidade"
        class="cidade"
        type="text"
        formControlName="cidade"
        placeholder="Cidade"
        [attr.disabled]="carregando ? true : null">
    </div>
    <div class="col-6">
      <label for="logradouro">Logradouro:</label>
      <input
        id="logradouro"
        class="logradouro"
        type="text"
        formControlName="logradouro"
        placeholder="Logradouro"
        [attr.disabled]="carregando ? true : null">
    </div>
    <div class="col-6">
      <label for="numero">Número:</label>
      <input
        id="numero"
        class="numero"
        type="text"
        formControlName="numero"
        placeholder="Número">
    </div>
    <div class="col-12">
      <label for="complemento">Complemento:</label>
      <input
        id="complemento"
        class="complemento"
        type="text"
        formControlName="complemento"
        placeholder="Complemento">
    </div>
  </div>
</form>
