<form [formGroup]="formularioEndereco">
  <div class="grid">
    <div class="col-6">
      <label for="logradouro">Logradouro:</label>
      <input
        id="logradouro"
        class="logradouro"
        type="text"
        formControlName="logradouro"
        placeholder="Logradouro">
    </div>
    <div class="col-6">
      <label for="bairro">Bairro:</label>
      <input
        id="bairro"
        class="bairro"
        type="text"
        formControlName="bairro"
        placeholder="Bairro">
    </div>
    <div class="col-6">
      <label for="cep">CEP:</label>
      <input
        id="cep"
        class="cep"
        type="text"
        formControlName="cep"
        placeholder="CEP">
    </div>
    <div class="col-6">
      <label for="numero">Número:</label>
      <input
        id="numero"
        class="numero"
        type="text"
        formControlName="numero"
        placeholder="Número">
    </div>
    <div class="col-6">
      <label for="uf">UF:</label>
      <input
        id="uf"
        class="uf"
        type="text"
        formControlName="uf"
        placeholder="UF">
    </div>
    <div class="col-6">
      <label for="cidade">Cidade:</label>
      <input
        id="cidade"
        class="cidade"
        type="text"
        formControlName="cidade"
        placeholder="Cidade">
    </div>
    <div class="col-12">
      <label for="complemento">Complemento:</label>
      <input
        id="complemento"
        class="complemento"
        type="text"
        formControlName="complemento"
        placeholder="Complemento">
    </div>
  </div>
</form>
