<form [formGroup]="formularioEndereco">
  <div class="grid">
    <div class="col-12">
      <label for="logradouro">Logradouro:</label>
      <input type="text" class="logradouro" id="logradouro" formControlName="logradouro">
    </div>
    <div class="col-12">
      <label for="bairro">Bairro:</label>
      <input type="text" class="bairro" id="bairro" formControlName="bairro">
    </div>
    <div class="col-12">
      <label for="cep">CEP:</label>
      <input type="text" class="cep" id="cep" formControlName="cep">
    </div>
    <div class="col-12">
      <label for="numero">Número:</label>
      <input type="text" class="numero" id="numero" formControlName="numero">
    </div>
    <div class="col-12">
      <label for="uf">UF:</label>
      <input type="text" class="uf" id="uf" formControlName="uf">
    </div>
    <div class="col-12">
      <label for="cidade">Cidade:</label>
      <input type="text" class="cidade" id="cidade" formControlName="cidade">
    </div>
    <div class="col-12">
      <label for="complemento">Complemento:</label>
      <input type="text" class="complemento" id="complemento" formControlName="complemento">
    </div>
  </div>
</form>
