<div>
  <p-toolbar>
    <h3>Projeto ETB - Serviços</h3>
    <a routerLink="/pagina-inicial">Inicio</a>
    <a *ngIf="usuarioLogado()" routerLink="/cadastro-cliente">Cadastro de cliente</a>
    <a routerLink="/cadastro-funcionario">Cadastro de funcionário</a>
    <a *ngIf="usuarioLogado()" routerLink="/listar-clientes">Clientes</a>
    <a *ngIf="usuarioLogado()"routerLink="/listar-funcionarios">Funcionarios</a>
    <a routerLink="/pagina-inicial" (click)="deslogar()">Sair</a>
</p-toolbar>
</div>
