<div class="rectangle-container">
  <div class="rectangle">
    <h3 class="flex justify-content-left">Informações pessoais</h3>
    <hr>
    <div class="grid">
      <div class="col-6">
        <label for="nome">Nome:</label>
        <input
          id="nome"
          class="nome"
          type="text"
          [(ngModel)]="cliente.nome">
      </div>
      <div class="col-6">
        <label for="email">E-mail:</label>
        <input
          id="email"
          class="email"
          type="email"
          [(ngModel)]="cliente.email">
      </div>
      <div class="col-6">
        <label for="cpf">CPF:</label>
        <input
          id="cpf"
          class="cpf"
          type="text"
          [(ngModel)]="cliente.cpf">
      </div>
      <div class="col-6">
        <label for="telefone">Telefone:</label>
        <input
          id="telefone"
          class="telefone"
          type="text"
          [(ngModel)]="cliente.telefone">
      </div>
    </div>
    <h3 class="flex justify-content-left">Endereço</h3>
    <hr>
    <app-endereco [endereco]="cliente.endereco"></app-endereco><br>
  </div>
</div>
